<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test">
        <activity
            android:name=".expandviewActivity"
            android:exported="true" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".myInfoActivity"
            android:exported="true" />
        <activity
            android:name=".agesInfoActivity"
            android:exported="true" />
        <activity
            android:name=".menuBarActivity"
            android:exported="true" />
        <activity
            android:name=".firstaidActivity"
            android:exported="true" />
        <activity
            android:name=".detailpageActivity"
            android:exported="true" />
        <activity
            android:name=".MainPageActivity"
            android:exported="true">

            <!--
            <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
            -->
        </activity>
        <activity
            android:name=".navermapActivity"
            android:exported="true" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="lwpzvl5a0n" />
    </application>

</manifest>