<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Test"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".reservation_complete_infomation"
            android:exported="true" />
        <activity
            android:name=".reservation_main"
            android:exported="true" />
        <activity
            android:name=".doctor_only_signing_complete"
            android:exported="true" />
        <activity
            android:name=".doctor_only_signing"
            android:exported="true" />
        <activity
            android:name=".doctor_reservation_check"
            android:exported="true" /> <!-- ui 앞 부분 -->
        <activity
            android:name=".myInfoActivity"
            android:exported="true" />
        <activity
            android:name=".agesInfoActivity"
            android:exported="true" />
        <activity
            android:name=".firstaidActivity"
            android:exported="true" />
        <activity
            android:name=".detailpageActivity"
            android:exported="true" />
        <activity
            android:name=".MainPageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".GPSActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ParsingActivity"
            android:exported="true" />
    </application>

</manifest>