<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Test"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.test.reservation_complete_infomation"
            android:exported="true" />
        <activity
            android:name="com.example.test.reservation_main"
            android:exported="true" />
        <activity
            android:name="com.example.test.doctor_only_signing_complete"
            android:exported="true" />
        <activity
            android:name="com.example.test.doctor_only_signing"
            android:exported="true" />
        <activity
            android:name="com.example.test.doctor_reservation_check"
            android:exported="true" />

        <!-- ui 앞 부분 -->
        <activity
            android:name=".myInfoActivity"
            android:exported="true" />
        <activity
            android:name=".agesInfoActivity"
            android:exported="true" />
        <activity
            android:name=".firstaidActivity"
            android:exported="true" />
        <activity
            android:name=".detailpageActivity"
            android:exported="true" />
        <activity
            android:name=".MainPageActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"/>
    </application>

</manifest>